body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    border-bottom: 4px solid black;
    padding-bottom: 13px;
    margin: 35px 30px;
}

input, select {
    font-size: 16px;
    padding: 7px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

form, table {
    width: 1200px;
    margin: 0 auto;
}

table {
    margin-top: 15px;
    border: 1px solid black;
}

th, tr, td {
    text-align: left;
    font-size: 22px;
    font-family: sans-serif;
    padding: 7px;
    border: 1px solid black;
}

td, th {
    padding: 7px;
}

td {
    font-size: 16px;
}

#totalValue {
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    padding: 7px;
    border: 1px solid black;
    margin: 20px;
}

#submitBtn {
    float: right;
    font-size: 20px;
    padding: 5px 10px;
}

tr:nth-child(even) {
    background: #CCC;
}

tr:nth-child(odd) {
    background: #FFF;
}

.monthlyCostClass {
    float: right;
    margin: 20px 70px;
    padding: 10px;
    font-size: 30px;
}

#deleteColumn {
    width: 100px;
}

#deleteBtn {
    width: 100px;
}